@import "tailwindcss";

body {
  /* background-image: url("/images/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background: linear-gradient(to bottom right, #e0e7ff, #f3e8ff, #fce7f3);


  font-family: Arial, Helvetica, sans-serif;
}
